

.tomato {
    position: absolute;
    width: 133.75px;
    height: 133.75px;
    left: 45.02px;
    top: 55.06px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    transform: rotate(-24.58deg);
}

.potato {
    position: absolute;
    width: 165px;
    height: 165px;
    left: 146px;
    top: 161px;
}

.leek {
    position: absolute;
    width: 257.96px;
    height: 257.96px;
    left: 109.95px;
    top: 20px;
    transform: rotate(-5.62deg);
}

.garlic {
    position: absolute;
    width: 194.8px;
    height: 194.8px;
    left: 200.62px;
    top: 74.87px;
    transform: rotate(-19.27deg);
}

.onion {
    position: absolute;
    width: 126.18px;
    height: 144.28px;
    left: 32px;
    top: 145.3px;
    transform: rotate(17.63deg);
}

.recipebook {
    position: absolute;
    width: 392px;
    height: 392px;
    left: 90px;
    top: 302px;
}

.plate {
    position: absolute;
    width: 334.76px;
    height: 332.75px;
    left: 22px;
    top: 616px;
    transform: rotate(19.64deg);
}

.beararm1 {
    position: absolute;
    width: 448.49px;
    height: 883.17px;
    left: 159px;
    top: 392px;
    transform: matrix(0.95, 0.31, 0.31, -0.95, 0, 0);
}

.beararm2 {
    position: absolute;
    width: 527.75px;
    height: 527.75px;
    left: 1160px;
    top: 496.98px;
    transform: rotate(90.11deg);
}

.fishpan {
    position: absolute;
    width: 546.95px;
    height: 546.95px;
    left: 532px;
    top: 257px;
    transform: rotate(-6.22deg);
}

.eggpan {
    position: absolute;
    width: 396px;
    height: 396px;
    left: 942.44px;
    top: 362.44px;
    transform: rotate(177.33deg);
}

.vegpan {
    position: absolute;
    width: 207px;
    height: 310px;
    left: 580.54px;
    top: 703.1px;
    transform: rotate(81.24deg);
}

.hob {
    position: absolute;
    width: 716px;
    height: 632px;
    left: 567px;
    top: 392px;
}

.creamtexture {
    position: absolute;
    width: 476px;
    height: 724px;
    left: -115px;
    top: 327px;
}

.checktablecloth {
    position: absolute;
    width: 1034px;
    height: 697px;
    left: 361px;
    top: 327px;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* no scrolling */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas {
    position: relative;
    width: 1440px;
    height: 900px;
    transform-origin: top left;
}

/* Scale the canvas to always fill the screen */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen {
    .canvas {
        transform: scale(calc(100vw / 1440)); /* default: scale to width */
    }

    /* If height is the limiting factor, use this: */
    @media (min-aspect-ratio: 1440/900) {
        .canvas {
            transform: scale(calc(100vh / 900));
        }
    }
}
