

.tomato {
        /* tomato-removebg-preview 1 */

    position: absolute;
    width: 133.75px;
    height: 133.75px;
    left: 45.02px;
    top: 55.06px;
    background: url(tomato-removebg-preview.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    transform: rotate(-24.58deg);

}