
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif, 'ToddyTalks';
    background-image: url(/playingaround2/images/backgrounds/angelclouds.gif);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    font-weight: 800;
}

#bear {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    overflow: clip;
    min-height: 0;

}

#bear:hover {
    animation: shake 0.5s; 
    animation-iteration-count: infinite; 
}

h1 {
    font-size: 7em;
    font-weight: bold;
    font-family: 'ToddyTalks';
    color: burlywood;
    text-shadow: 10px 6px brown;
    letter-spacing: 15px;
}


#Welcome {
    color: brown;
    background-color: burlywood;
    text-decoration: none;
    font-family: 'Arial';
    font-size: 1.5em;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid #be6936;
    box-shadow: inset 0 0 0 2px white, 0 8px 16px 0 rgba(0,0,0,0.6);
}


#Welcome:hover {
    color: #be6936;
    animation: float 1s linear infinite;
}

#Welcome a{
    color: var(--brown);
    text-shadow: 1px 1px 1px burlywood;
    text-decoration: none;
}



/*ANIMATIONS*/

  @keyframes float {
  0% {
    transform: translatey(0px);
    }
  50% {
    transform: translatey(-6px);
  }
  100% {
    transform: translatey(0px);
  }
  }

    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }


  /*FONTS*/

@font-face {
  font-family: ToddyTalks; /* set name */
  src: url(/playingaround2/fonts/akaDylan\ Plain.ttf); /* url of the font */
}

