body {
    margin: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu.container {
    position: relative;
    width: 969px;
    height: 540px;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-btn {
    position: absolute;
    width: 200px;
    height: 70px;
    background: url("/playingaround2/images/backgrounds/IMG_0254.jpg");
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s;
}